{% extends "::base.html.twig" %}

{% block title %}Parametres du Compte{% endblock %}

{% block body %}
    <h1>Parameters</h1>
    {{ user.id }}
    {{ user.lastname|upper }}
    {{ user.firstname|capitalize }}
    {{ user.promotionYear }}
    {{ user.email }}

    {{ include("Profile/change_email.html.twig", { 'user_email': user.email }) }}
{% endblock %}