{% extends "::base.html.twig" %}
{% block title %}{{ user.lastname|upper }} {{ user.firstname|capitalize }} - Profile{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            {{ user.id }}
            {{ user.lastname }}
            {{ user.firstname }}
            {{ user.email }}
            {{ user.promotionYear }}
        </div>
    </div>
{% endblock %}