<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/bootstrap.min.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset("css/flat-ui.min.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="sidebar" class="">
            <span class="fui-list-columned" id="toggle-sidebar"></span>
            <div class="menu center-block">
                <ul class="list-unstyled">
                    <li><a href="/"><span class="fui-home"></span><span class="fui-description">Home</span></a></li>
                    <li><a href="/profile"><span class="fui-user"></span><span class="fui-description">Profile</span></a></li>
                    <li><a href="#Empty"><span class="fui-power"></span><span class="fui-description">Log out</span></a></li>
                    <li><a href="#Empty"><span class="fui-power"></span><span class="fui-description">Log out</span></a></li>
                    <li><a href="#Empty"><span class="fui-power"></span><span class="fui-description">Log out</span></a></li>
                    <li><a href="/logout"><span class="fui-power"></span><span class="fui-description">Log out</span></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script type="text/javascript" src="{{ asset("js/jquery.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/jquery-ui.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/flat-ui.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/supbook.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
