<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/bootstrap.min.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset("css/flat-ui.min.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="sidebar" class="">
            <span class="fui-list-columned" id="toggle-sidebar"></span>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script type="text/javascript" src="{{ asset("js/jquery.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/jquery-ui.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/flat-ui.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/supbook.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
