{% extends "::admin.html.twig" %}

{% block body %}

<a href="{{ path("list_users") }}">Nombre d'utilisateurs : {{ nb_user }}</a>
<br/>
<a href="{{ path("list_threads") }}">Nombre de post :{{ nb_threads }}</a>
<br/>
<a href="{{ path("list_replies") }}">Nombre de response : {{ nb_replies }}</a>

{% endblock %}