{% extends "::admin.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
{% endblock %}



{% block body %}
    <h2 class="center">Liste des utilisateurs</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>lastname</th>
                <th>firstname</th>
                <th>email</th>
                <th>promotion_year</th>
                <th>id_bachelor</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.promotionYear }}</td>
                <td>{{ user.idBachelor }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('table').DataTable();
        });
    </script>
{% endblock %}