<form method="POST" action="{{ path("add_thread") }}">
    {{ form_start(form) }}
        {{ form_row(form.content, { "attr" : { "class" : "materialize-textarea" }}) }}
        {{ form_row(form.submit, { "attr" : { "class" : "btn" }}) }}
    {{ form_end(form) }}
</form>