{% extends "::base.html.twig" %}
{% block title %}Liste du contenu{% endblock %}

{% block body %}
    {{ include('Content/add_thread.html.twig', {'form': form}) }}
    <ul>
    {% for t in threads %}
        <li class="thread">
            {{ t.id }}
            {{ t.content }}
            {{ t.idAuthor }}
            {{ t.postDate|date("d F Y H:i:s") }}
            <button type="button" class="reply-to" value="{{ t.id }}">Repondre</button>
            <div class="comments-{{ t.id }}" style="display:none;">
                my hidden replies content
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}