{% extends "::base.html.twig" %}
{% block title %}Liste du contenu{% endblock %}

{% block body %}
    {{ include('Content/add_thread.html.twig', {'form': form}) }}
    <ul>
    {% for t in threads %}
        <li class="thread">
            {{ t.id }}
            {{ t.content }}
            {{ t.idAuthor }}
            {{ t.postDate|date("d F Y H:i:s") }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}