{% extends "::base.html.twig" %}
{% block title %}Liste du contenu{% endblock %}

{% block body %}
    {{ include('Content/add_thread.html.twig', {'form': form}) }}
    <ul>
    {% for t in threads %}
        <li class="thread">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 informations">
                    profilePic<br/>
                    {{ t.idAuthor }}<br/>
                    {{ t.postDate|date("d F Y H:i:s") }}<br/>
                    {{ t.id }}
                </div>
                <p class="col-xs-12 col-sm-7 col-md-8 col-lg-9">{{ t.content }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}